* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-image: url(https://konachan.net/jpeg/cb2526074e15e1a6f7f2333aa15f1eff/Konachan.com%20-%20359443%202girls%20aqua_eyes%20arknights%20blush%20boots%20brown_hair%20building%20bunny_ears%20drink%20gray_hair%20leaves%20long_hair%20red_eyes%20scenic%20skirt%20twintails%20zeklewa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(5px); /* làm mờ */
}
/* common */
.header {
  background-color: #ebebeb;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  border-radius: 24.5px;
  background-color: black;
}
.main-content {
  width: 2000px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* =============================header============================== */
.header .body {
  display: flex;
  align-items: center;
}
.nav {
  margin-right: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav a:hover {
  color: black;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.header .action {
  margin-left: 860px;
}
.header .logo {
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-2%, -50%);
}

/* =================================body================================= */
.container {
  max-width: 1700px; /* Giới hạn chiều rộng tối đa */
  margin: 0 auto; /* Căn giữa */
  padding: 0 20px; /* Cách 2 bên 20px */
  background-color: #bbb;
}
.container .body {
  font-family: Arial, sans-serif;
  background-color: #2c2f38;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 20px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
ul.hot-updates {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}
ul.hot-updates li {
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  transition: transform 0.5s, box-shadow 0.5s;
}
ul.hot-updates li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 24, 104, 0.2);
}
ul.hot-updates img {
  width: 100%;
  height: 250px; /* đồng bộ chiều cao ảnh */
  object-fit: cover; /* cắt ảnh cho vừa */
  border-radius: 6px;
}
ul.hot-updates .title {
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin: 10px 0 5px;
  min-height: 40px; /* giữ cho card đều nhau dù tên dài/ngắn */
}
ul.hot-updates .chapter {
  font-size: 13px;
  color: #000000;
}

/* ======================lower=========================== */
ul.manga-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul.manga-list li {
  display: flex;
  gap: 20px;
  background-color: #555;
  border-radius: 8px;
  padding: 20px;
}
.cover {
  flex: 0 0 300px;
  position: relative;
}
.cover img {
  width: 100%;
  border-radius: 6px;
}
.status {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: #2ecc71;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}
.details {
  flex: 1;
  position: relative;
}
.details h3 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: rgb(233, 233, 233);
  display: inline-block;
}
.details h3 span {
  color: #dfdfdf;
  font-weight: normal;
  font-size: 14px;
}
.first-chapter {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff5252;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.update-time {
  font-size: 12px;
  color: #ccc;
  margin: 6px 0 10px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}
.tag {
  background: #000000;
  border: 1px #777;
  color: #ccc;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 17px;
}
.desc {
  font-size: 15px;
  line-height: 1.4;
  max-height: 65px;
  color: #ccc;
  overflow: hidden;
}
.chapters {
  margin-top: 8px;
  font-size: 13px;
  color: #ccc;
}
.chapters div {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #555;
  padding: 4px 0;
}
.chapters div:first-child {
  border-top: none;
}
/* ===================================Footer========================================== */
footer {
  padding: 26px 0 32px;
  color: #ffffff;
  opacity: 0.8;
}
.foot {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr auto;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 16px;
  font-size: 20px;
}
